<div class="container">
  <h1>
    Most Wanted List
  </h1>

  <div class="search-div">
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()" />
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let row">{{ row.first_name }}</td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let row">{{ row.last_name }}</td>
      </ng-container>

      <ng-container matColumnDef="update_criminal">
        <th mat-header-cell *matHeaderCellDef>Update Criminals</th>
        <td mat-cell *matCellDef="let row">
          <a
            mat-raised-button
            color="primary"
            (click)="updateCriminal(row)"
            matTooltip="Update informations about Criminal"
            >Edit
            <i class="material-icons">
              edit
            </i></a
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="delete_criminal">
        <th mat-header-cell *matHeaderCellDef>Delete Criminals</th>
        <td mat-cell *matCellDef="let row">
          <a
            mat-raised-button
            color="warn"
            (click)="deleteCriminal(row)"
            matTooltip="Delete Criminal from database if Criminal is CAPTURED"
            >Delete
            <i class="material-icons">
              delete
            </i></a
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="see_more">
        <th mat-header-cell *matHeaderCellDef>See More</th>
        <td mat-cell *matCellDef="let row" (click)="seeDetails(row)">
          <a mat-raised-button color="accent" mat-list-item matTooltip="See Criminal's Page"
            >See More
            <i class="material-icons">
              remove_red_eye
            </i></a
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="dataSource.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 25, 50, 100, 250]"
    >
    </mat-paginator>
  </div>
</div>
