<div class="container">
  <div class="logo">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Seal_of_the_Federal_Bureau_of_Investigation.svg/300px-Seal_of_the_Federal_Bureau_of_Investigation.svg.png"
      alt="FBI LOGO"
    />
  </div>
  <div class="navigation">
    <button mat-raised-button color="primary" routerLink="mostWanted">Most Wanted List</button>
    <button mat-raised-button color="primary" routerLink="about">About US</button>
  </div>
  <div>
    <h1>
      Welcome to Federal Bureau of Investigation
    </h1>
  </div>
</div>
