<div class="container">
  <div>
    <h1>What is FBI?</h1>
    <p>
      The FBI is an intelligence-driven and threat-focused national security organization with both intelligence and law
      enforcement responsibilities. It is the principal investigative arm of the U.S. Department of Justice and a full
      member of the U.S. Intelligence Community. The FBI has the authority and responsibility to investigate specific
      crimes assigned to it and to provide other law enforcement agencies with cooperative services, such as fingerprint
      identification, laboratory examinations, and training. The FBI also gathers, shares, and analyzes intelligence,
      both to support its own investigations and those of its partners and to better understand and combat the security
      threats facing the United States.
    </p>
  </div>
  <div>
    <img src="https://cdn.wallpapersafari.com/51/66/Qv6ZlO.jpg" alt="" />
  </div>
  <div>
    <h1>What is the mission of the FBI?</h1>
    <p>
      The mission of the FBI is to protect the American people and uphold the Constitution of the United States.The
      FBI’s investigative authority is the broadest of all federal law enforcement agencies. The FBI has divided its
      investigations into a number of programs, such as domestic and international terrorism, foreign
      counterintelligence, cyber crime, public corruption, civil rights, organized crime/drugs, white-collar crime,
      violent crimes and major offenders, and applicant matters.
    </p>
  </div>
</div>
